body {
    text-align: center;
}

input {
    margin-top: 50px;
    width: 20px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

li {
    list-style-type: none;
    padding: 2px;
    background: cyan;
    border: 1px solid black;
    width: 40%;
    margin-left: 30%;
}

#infinite-scroll {
    display: flex;
    flex-direction: column;
    gap: 10px;
}