body {
    text-align: center;
}

.progress-bar {
    width: 90%;
    margin-left: 5%;
    background-color: #f1f1f1;
    height: 10px;
}

#progress {
    width: 0;
    background-color: red;
    height: 10px;
}

#buttons {
    margin-top: 20px;
}